<div class="vui-ad ad300 vui-wide-display-none vui-medium-display-none">
<% var sp = Math.floor( Math.random() * 14 ); %>
<% if(sp == 0){ %>
<!-- バナー(FC2動画 見放題)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=310' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20761&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 1){ %>
<!-- バナー(ラシオ)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=312' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20030&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 2){ %>
<!-- バナー(6ms.)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=322' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20095&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 3){ %>
<!-- バナー(DogmaAnnex)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=335' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20404&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 4){ %>
<!-- バナー(フェチ×フェチ.jp)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=332' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20386&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 5){ %>
<!-- バナー(高収入ラブリー)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=177' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=19304&uid=339393' width='300' height='250' border='0'></a>
<!-- ここまで -->
<% }else if(sp == 6){ %>
<a href="//live.fc2.com/adult/lp_viewer/?lang=ja&afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/ja/lv-bnr_afl-adt01-300x250.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 7){ %>
<a href="//live.fc2.com/adult/lp_viewer/?lang=ja&afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/ja/lv-bnr_afl-adt02-300x250.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 8){ %>
<a href="//live.fc2.com/adult/lp_viewer/?afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/lv_afadt300x250_01.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 9){ %>
<a href="//live.fc2.com/adult/lp_viewer/?afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/lv_afadt300x250_02.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 10){ %>
<a href="//live.fc2.com/adult/lp_viewer/?afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/lv_afadt300x250_03.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 11){ %>
<a href="//live.fc2.com/adult/lp_viewer/?afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/lv_afadt300x250_04.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 12){ %>
<a href="//live.fc2.com/adult/lp_viewer/?afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/lv_afadt300x250_05.png" width="300" height="250" border="0" alt="FC2ライブ"></a>
<% }else if(sp == 13){ %>
<ins class="widget-banner"></ins><script class="widget-banner-script" src="//widget-view.dmm.co.jp/js/banner_placement.js?affiliate_id=utamita-008&banner_id=72_300_250"></script>
<% } %>
</div>
<div class="vui-ad ad728 vui-small-display-none">
<% var i = Math.floor( Math.random() * 9 ); %>
<% if(i == 0){ %>
<!-- バナー(FC2動画 見放題)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=310' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20766&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 1){ %>
<!-- バナー(ラシオ)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=312' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20029&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 2){ %>
<!-- バナー(6ms.)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=322' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20371&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 3){ %>
<!-- バナー(DogmaAnnex)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=335' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20401&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 4){ %>
<!-- バナー(フェチ×フェチ.jp)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=332' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=20396&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 5){ %>
<!-- バナー(高収入ラブリー)ここから -->
<a href='//cnt.affiliate.fc2.com/cgi-bin/click.cgi?aff_userid=339393&aff_siteid=331025&aff_shopid=177' target='_blank'>
<img src='//cnt.affiliate.fc2.com/cgi-bin/banner.cgi?aff_siteid=331025&bid=19299&uid=339393' width='728' height='90' border='0'></a>
<!-- ここまで -->
<% }else if(i == 6){ %>
<a href="//live.fc2.com/adult/lp_viewer/?lang=ja&afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/ja/lv-bnr_afl-adt01-728x90.png" width="728" height="90" border="0" alt="FC2ライブ"></a>
<% }else if(i == 7){ %>
<a href="//live.fc2.com/adult/lp_viewer/?lang=ja&afid=18822056" target="_blank" title="エロ動画を生放送!! FC2ライブ アダルト"><img src="//static-sv.fc2.com/share/image/banner_live/ja/lv-bnr_afl-adt02-728x90.png" width="728" height="90" border="0" alt="FC2ライブ"></a>
<% }else if(i == 8){ %>
<ins class="widget-banner"></ins><script class="widget-banner-script" src="//widget-view.dmm.co.jp/js/banner_placement.js?affiliate_id=utamita-008&banner_id=72_728_90"></script>
<% } %>
</div>